<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeshAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MeshAnalysis.Properties.Settings>
            <setting name="ButtonBackColor" serializeAs="String">
                <value>102, 204, 153</value>
            </setting>
            <setting name="ButtonForeColor" serializeAs="String">
                <value>17, 34, 51</value>
            </setting>
            <setting name="ButtonFlatStyle" serializeAs="String">
                <value>Flat</value>
            </setting>
            <setting name="NavButtonBackground" serializeAs="String">
                <value>68, 187, 255</value>
            </setting>
            <setting name="NavButtonFont" serializeAs="String">
                <value>Microsoft Sans Serif, 10pt</value>
            </setting>
        </MeshAnalysis.Properties.Settings>
    </applicationSettings>
</configuration>